<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NrthwConnectionString" connectionString="Server=localhost,20000;Database=Northwind;User Id=sa;Password=Bilgeadam123!;" providerName="System.Data.SqlClient" />
		<add name="LibMConnectionString" connectionString="Server=localhost,20000;Database=LibraryManagement;User Id=sa;Password=1q2w3e4R!;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>